
							/* START THE CASCADE */
/* ------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------ */
/* HEADER & FOOTER */
/* ------------------------------------------------------------------------ */

header, footer {
	color: white ;
	background-color: #6E020C ; 
	font-family: Roboto+Condensed, Open+sans, sans-serif; 	
}

header {
	position: fixed;
	margin-top: -20px;
	width: 100%;
	padding: 1%;
	height: 30%;
}

footer {
	text-align: center;
}

.mention {
	color: white;
}

/* ------------------------------------------------------------------------ */
/* BODY & SECTION */
/* ------------------------------------------------------------------------ */

body {
	font-family: Roboto+Condensed, Open+sans, sans-serif;
}

section {

}



/* ------------------------------------------------------------------------ */
/* IMAGES */
/* ------------------------------------------------------------------------ */

img {
	border-radius: 50%;
	height: 10%;
	width: auto;
}

div img {
	border-radius: 50%;
	height: 10%;
}

.pigeonlogo {
	height: 200px;
	width: auto;
	margin-top: -1%;
	border: solid white 5px;

}

.socialnetwork {
	border-radius: 0%;
	height: 70px;
	width: auto;
	float: right;
}



/* ------------------------------------------------------------------------ */
/* TITTLE STYLE */
/* ------------------------------------------------------------------------ */

h1 {
	font-family: Lobster, sans-serif;
	text-align: center;
	font-size: 200%;
}


h2 {
	font-family: Lobster, sans-serif;
	color: white;
	font-size: 150%;
}


/* ------------------------------------------------------------------------ */
/* LINKS AND TEXT */
/* ------------------------------------------------------------------------ */

.part a {
	text-decoration: none;
	font-size: 150%;
}

a:hover {
	font-style: bold;
}

p {
	font-family: Roboto+Condensed, Open+sans, sans-serif;
	color: white ; 
	font-size: 150%;
}


/* ------------------------------------------------------------------------ */
/* NAV */
/* ------------------------------------------------------------------------ */

nav {
	margin-left: 10px;
	text-align: center;
}


nav a {
	color: white;
	text-decoration: none;
}

nav ul {
	text-align: center;
	font-size: 28;
}

nav li {
	display: inline;
	margin-right: 7%;
}


/* ------------------------------------------------------------------------ */
/* DIV */
/* ------------------------------------------------------------------------ */

div {
	
}

/* ------------------------------------------------------------------------ */
/* ID PART */
/* ------------------------------------------------------------------------ */

#presentation {
	background-color: #2D0105;
	width: 45%

}

#product {
	background-color: #0D80BA;
	float: left;
	width: 55%;
}

#service {
	background-color: #07293B;
	float: right;
	width: 45%;
}

#who {
	float left;
	background-color: #2D0105;
	width: 55%;
}

#contact {
	float: right;
	background-color: #7B770F;
	width: 45%;
}



/* ------------------------------------------------------------------------ */
/* CLASS PART */
/* ------------------------------------------------------------------------ */

.content {
}

.part {
	height: auto;
 	border-color: white;
 	border-width: 0px;
 	border-style: solid;
 	padding: 1%;
}

.mainpart {

	padding-top: 12%;
}

.secondpart {

}

.part li {
	color: white;
}

.community {
	float: right;
	height: auto;
	width: 55%;
	background-color: purple ;
}


.redlobster {
  display: none;
  background: images/lobster.jpg;
  opacity: 0.8;
  height: 100;
}

.bluelobster {
  background: images/lobster3.jpg;
  height: 200px;
  width: 200px;
  margin: auto;
}

/* ------------------------------------------------------------------------ */
/* RESPONSIVE PART */
/* ------------------------------------------------------------------------ */

@media (max-width:320px) {  /*small mobile*/
		.part {
    		width: 100%;
    		float: none;
  }
}

@media (min-width:321px) and (max-width:959px) {  /*tablet*/
		.part {
    		width: 100%;
    		float: none;
	}
}
@media (min-width:960px) and (max-width:1599px) {  /*desktop*/



}
@media (min-width:1600px) {  /*desktop and tv*/
  h4 {





/* ------------------------------------------------------------------------ */
								/* END OF FILE */

																/*by Victor W.*/




































