
							/* START THE CASCADE */
/* ------------------------------------------------------------------------ */



/* ------------------------------------------------------------------------ */
/* HEADER & FOOTER */
/* ------------------------------------------------------------------------ */

header, footer {
	color: white ;
	background-color: #6E020C ; 
	font-family: Open+sans, sans-serif; 	
}

header {
	position: fixed;
	margin-top: -20px;
	width: 100%;
}

footer {
	text-align: center;

}


.mention {
	color: white;
}

/* ------------------------------------------------------------------------ */
/* BODY */
/* ------------------------------------------------------------------------ */

body {
	;
}


/* ------------------------------------------------------------------------ */
/* IMAGES */
/* ------------------------------------------------------------------------ */

img {
	border-radius: 50%;
	height: 350px;
	width: auto; 
}

div img {
	border-radius: 50%;
}


.pigeonlogo {
	height: 200px;
	width: auto;
	float: left;
}



/* ------------------------------------------------------------------------ */
/* TITTLE STYLE */
/* ------------------------------------------------------------------------ */

h1 {
	font-family: Lobster, sans-serif;
	text-align: center;
}


h2 {
	font-family: Lobster, sans-serif;
	color: #6E020C;
}


/* ------------------------------------------------------------------------ */
/* LINKS AND TEXT */
/* ------------------------------------------------------------------------ */

a {
	text-decoration: none;
}
p {
	font-family: Open+sans, sans-serif;
	color: #303030 ; 
}


/* ------------------------------------------------------------------------ */
/* NAV */
/* ------------------------------------------------------------------------ */

nav {
	margin-left: 10px;
}


nav a {
	color: white;
}

nav ul {
	text-align: center;
	font-size: 28;
}

nav li {
	display: inline;
}





/* ------------------------------------------------------------------------ */
/* DIV */
/* ------------------------------------------------------------------------ */

div {
	height: auto;
 	width: 500px;
 	border-radius: 3%;
 	border-color: #6E020C;
 	border-width: 7px;
 	border-style: inset;
}



/* ------------------------------------------------------------------------ */
/* ID PARTS */
/* ------------------------------------------------------------------------ */

#part {
 	height: 500px;
 	width: 500px;
}


/* ------------------------------------------------------------------------ */
/* CLASS PARTS */
/* ------------------------------------------------------------------------ */

.presentation {

}

.prodcut {

}

.service {

}

.who {

}

.contact {

}
























